*,html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    text-decoration: none;
}

.primeira{
	width:100%;
	height: 707px;

}
.segunda{
	margin-top: 120px;
	width:100%;
	height: 853px;
}
#card{
    background:#2980b9;
  
}
#terceira{
    width:100%;
    height: 692px;
    margin-top: 83px;
}
#btproj{
    background-color:#2980b9;
    color:white;
    margin: 2px;
}
#imgC{
    width: 5em;
}
nav{
    background-color:#2980b9 ;
   
    

}
#progresso{
	width: 54%;
	margin: 20px;
}
#iconT{
	color: #2980b9 ;
	font-size: 30px;
	
}
.tecnologias{
    background-color: white;
    width: 50%;
	height: 300px;
	position: relative;
}
.apresentacao{
    margin-top: 160px;
}
nav ul li{
    margin-left: 35px;
}
.sobre{
	width: 550px;
	height: auto;
	font-size: 17px;
	color: #2980b9;
	text-align: justify;
	font-weight: normal;
	
}
#sobre{
    color: #2980b9; 
}
#quemT{
	color: white;
	text-align: justify;
    font-weight: normal;
    font-size: 18px;
	
}
#quemP{
	color: black;
    font-size: 16px;
}
#quems{
    font-size: 24px;
    color: #2980b9;
}
#quemsT{
    font-size: 14px;
    color: #2980b9;
}
.text-apre{
    color: #2980b9;
}
#titleH{
    color: white;
}
#projeto{
    color:#2980b9;
    font-size:40px ;
    margin: 8px;
}

#card-img{

    width: 100%;
    height: 200px;
}
#cardP{
    
    width: 100%;
    height: 100px;
}
#titleC{
    color: #2980b9;
}
#buttonC{
    background-color:#2980b9; 
    color:white;
}
#div-baixo{
    margin-top: 300px;
}

.teste{
    width:100% ;
    background-size: cover;
 }
 #imgCA{
     width: 100%;
     height: 400px;
 }
 @media only screen and (min-width: 350px) {
    #imgCA{
        width: 390px;
        height: 200px;
    }
    
    nav ul li a{
        
        color: #2980b9;
    
    }
    #cardss{
        width: 416px;
        height: 200px;
    }
    #modalQuickShop{
        width: 416px;
        
    }
    #modalQuickBathica{
        width: 416px;
    }
    #modalQuickViewMulti{
        width: 416px;
    }
    #modalQuickView{
        width: 416px;
    }
    #perfil{
        width: 300px;
        height: 300px;
       
    }
    .apresentacao{
        margin-left: -180px;
        margin-top: 299px;
    }
    .terceira{
        margin-top: 500px;
    }
  }
  @media only screen and (min-width: 600px) {
    #imgCA{
        width: 100%;
        height: 400px;
    }
    nav{
        background-color:#2980b9; 
        height: 60px;
        color:black;
    
    }
    a{
        color: #2980b9;
    }
    #cardss{
        width: 230px;
        height:200px;
    }
    #modalQuickShop{
        width: 100%;
        
    }
    #modalQuickBathica{
        width: 100%;
    }
    #modalQuickViewMulti{
        width: 100%;
    }
    #modalQuickView{
        width: 100%;
    }
    #perfil{
        width: 100%;
        height: 500px;
    
        padding: 0 45px;
    }
    .apresentacao{
        margin-top: 160px;
        margin-left: 40px;
    }
    .terceira{
        margin-top: 0px;
    }
  }
  #close{
      background-color: black;
      color: white;
      width: 130px;
  }
  #logo{
   
	width: 100px;
	height:100px;
	
  }

  
  
  
  
