*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	box-sizing: border-box;
	overflow: auto;
}
#iconMenu{
	width: 50px;
	height: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#iconMenu img{
	width: 35px;
	height: 35px;
}
#iconMenu:before{
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: linear-gradient(to right, #A3CB38, #009432);
	border-radius: 100%;
	z-index: -1;
}
header{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 10%;	
}
#logo{
	color: #aaa;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
}
#logoText{
	color: #aaa;
	padding: 10px;
	font-size: 30px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}
#menu-1 ul{
	display: flex;		
}
#menu-1 ul li{
	padding: 25px 30px;
	list-style: none;
}
#menu-1 ul li a{
	position: relative;
	padding: 10px 15px;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
#menu-1 ul li a:hover{
	color: white;
	transition: 0.2s;
}
#menu-1 ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #A3CB38, #009432);
	z-index: -1;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;
}
#menu-1 ul li a:hover:before{
	color: white;
	transform-origin: left;
	transform: scaleX(1);
	transition: transform 0.5s;
}
@media screen and (max-width: 760px){
	header{
		flex-direction: column;
	}
}
#hero{
	height: 50vh;
	background-image: linear-gradient(to left, #4AB0FE,#03EFFE);
	background-image: url(Imagens/matbanner2.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: space-between;
	position: relative;
	z-index: -1;
}
#hero:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background: linear-gradient(to right, #A3CB38, #009432);
	opacity: 0.5;
	z-index: -1;
}
#hero h1{
	border: 0.5vw solid white;
	background: linear-gradient(to right, #A3CB38, #009432);
	font-size: 5vw;
	font-family: 'Poppins', sans-serif;
	color: white;
	font-weight: bolder;
	padding: 0px 50px;
	letter-spacing: 20px;
}
#hero img{
	width: 60px;
	height: 60px;
	animation: animarrow 1.5s infinite;
}
@media screen and (max-width: 760px){
	#hero h1{
		font-size: 4vh;
		padding: 0 10px;	
	}
}	
#menu-2{
	margin: 0 10%;	
}
#menu-2 ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
#menu-2 ul li{
	list-style: none;
}
#menu-2 ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: black;
	padding: 0 5vw;
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#menu-2 ul li a:hover{
	color: white;
	transition: 0.2s;
}
#menu-2 a:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(to right, #A3CB38, #009432);
	z-index: -1;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.5s;	
}
#menu-2 a:hover:before{
	transform-origin: left;
	transform: scaleX(1);
	transition: transform 0.5s;
}
#menu-2 a:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50%;
	background: linear-gradient(to right, #A3CB38, #009432);
	z-index: -1;
	transform-origin: left;
	transform: scaleX(0);
	transition: transform 0.5s;
}
#menu-2 a:hover:after{
	transform-origin: right;
	transform: scaleX(1);
	transition: transform 0.5s;
}
@media screen and (max-width: 760px){
	#menu-2{
		margin: none;
		height: auto;
		text-align: center;
		display: none;
	}
	#menu-2 ul{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;
		text-align: center;
	}
}
#oQueE{
	height: auto;
}
#oQueE h1{
	text-align: center;
	font-size: 8vh;
	padding: 40px 0px;
	background: linear-gradient(to right, #A3CB38, #009432);
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#oQueE aside{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}
#oQueE div{
	width: 50vw;
	height: 70vh;
	margin: 10px 20px;
	background-image: url(Imagens/contVol1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#oQueE p{
	flex-basis: 50%;
	margin: 0% 2%;
	height: auto;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: #363636;
	text-align: justify;
	padding: 20px 10px;
}
#oQueE p::first-letter {
	font-size: 80px;
	color: black;
	float: left;
	padding: 0px 50px;
}
#oQueE p a{
	padding: 50px;
	text-decoration: none;
	font-weight: bolder;
	color: #363636;
}
@media screen and (max-width: 760px){
	#oQueE aside{
		flex-direction: column;
	}
	#oQueE img{
		display: none;
	}
	#oQueE div{
		width: 100%;
	}
}
#howTo{
	height: auto;
}
#howTo h1{
	text-align: center;
	font-size: 8vh;
	padding: 50px 0px;
	background: linear-gradient(to right, #A3CB38, #009432);
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#howTo #fotos{
	display: flex;
	text-align: center;
	align-content: center;
	align-items: center;
	justify-content: center;
}
#howTo #fotos a:nth-child(1){
	background: url(Imagens/contVol2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: 30%;
	text-decoration: none;
}
#howTo #fotos a:nth-child(2){
	background: url(Imagens/contVol3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: 30%;
	text-decoration: none;
}
#howTo #fotos a:nth-child(3){
	background: url(Imagens/contVol4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 200px;
	width: 30%;
	text-decoration: none;
}
#howTo #fotos h2{
	font-family: 'Poppins', sans-serif;
	color: white;
	font-size: 4vh;
	background: linear-gradient(to right, #A3CB38, #009432);
}
#howTo #volume p{
	height: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #363636;
	padding: 50px 0px;
	margin: 0% 5%;
	text-align: justify;
}
#howTo #volume p::first-letter{
	font-size: 80px;
	color: black;
	float: left;
	padding: 0px 50px;
}
#howTo #volume{
	display: none;
}
#howTo #volume:target{
	display: block;
}
#howTo #massa p{
	height: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #363636;
	padding: 50px 0px;
	margin: 0% 5%;
	text-align: justify;
}
#howTo #massa p::first-letter{
	font-size: 80px;
	color: black;
	float: left;
	padding: 0px 50px;
}
#howTo #massa{
	display: none;
}
#howTo #massa:target{
	display: block;
}
#howTo #densidade p{
	height: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #363636;
	padding: 50px 0px;
	margin: 0% 5%;
	text-align: justify;
}
#howTo #densidade p::first-letter{
	font-size: 80px;
	color: black;
	float: left;
	padding: 0px 50px;
}
#howTo #densidade{
	display: none;
}
#howTo #densidade:target{
	display: block;
}
@media screen and (max-width: 760px){
	#howTo #fotos{
		flex-direction: column;
	}
	#howTo a{
		width: 100%;
	}
	#howTo #fotos a:nth-child(n){
		width: 100%;
	}
}
#app{
	height: 100vh;
}
#app h1{
	text-align: center;
	font-size: 8vh;
	padding: 50px 0px;
	background: linear-gradient(to right, #A3CB38, #009432);
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#app form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	margin: 0% 10%;
}
#app form input[type=number]{
	border: none;
	border-bottom: 5px solid #9980FA;
	background: transparent;
	outline: none;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
	margin: 2vh;
	font-size: 20px;
}
#app form input[type=number]:hover{
	background: purple	;
	opacity: 0.3;
	color: white;
	transition: 0.5s;
}
#app form input[type=submit]{
	background: linear-gradient(to right, #A3CB38, #009432);
	padding: 20px 30px;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 3vw;
}
footer{
	background: black;
	height: 50vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	align-content: center;
}
footer #logo{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}
footer #logo h1{
	border: 0.5vw solid white;
	transform: skewY(-5deg);
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 0px 20px;
	font-weight: normal;
	font-size: 10vh;
}
footer #logo p{
	transform: skewY(-5deg);
	font-family: 'Poppins', sans-serif;
	font-size: 5vh;
}
footer #newsletter form{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
}
footer #newsletter form label{
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-size: 5vh;
	font-weight: normal;
	padding: 20px 0px;
}
footer #newsletter form input[type=email]{
	background: transparent;
	border: none;
	border-bottom: 3px solid white;
	width: 100%;
	padding: 20px 5px;
	outline: none;
	color: white;
	font-size: 2vh;
	font-family: 'Poppins', sans-serif;
}
footer #newsletter form input[type=email]:valid{
	border-bottom: 3px solid green;
	outline-color: green;
}
footer #newsletter form input[type=email]:invalid{
	border-bottom: 3px solid red;
	outline-color: red;
}
footer #newsletter form input[type=email]:hover{
	background: rgba(255,255,255, 0.1);
	transition: 0.5s;
}
footer #newsletter form button{
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
footer #newsletter form img{
	width: 80px;
	height: 80px;
	padding: 20px;
}
@media screen and (max-width: 760px){
	footer{
		flex-direction: column;
		height: auto;
		padding: 50px;
	}
	footer #newsletter form label{
		padding: 100px 0;
		font-size: 30px;	
	}
}
.container {
	width: 50%;
	margin: 0 auto;
}

.form-contact {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	outline: none;
}
.form-contact-span {
	text-align: center;
	font-size: 8vh;
	padding: 50px 0px;
	background: linear-gradient(to right, #A3CB38, #009432);
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.form-contact-input {
	width: 90%;
	color: #292929;
	font-size: 22px;
	/*background: linear-gradient(to right, #A3CB38, #009432);*/
	background: #fff;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 3px solid #a3cb38;
	text-indent: 20px;
	outline: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form-contact-input:invalid {
	transition: border-bottom 0.5s;
	border-bottom: 3px solid #ff4c3c;
}
.form-contact-input:valid {
	border-bottom: 3px solid #a3cb38;
}
.form-contact-input:hover {	
	border-bottom: 3px solid #009432;
	transition: border-bottom 0.5s; 
}


.form-contact-button {
	margin-left: auto;
	margin-right: auto;
	box-shadow: none;
	width: 90%;
	font-size: 30px;
	border-radius: 4px;
	color: #fff;
	height: 70px;
	opacity: .8;
	margin-bottom: 20px;
	cursor: pointer;
	background: linear-gradient(to right, #A3CB38, #009432);
	display: block;
	border: none;
	transition: 0.5s;
	outline: none;
	/*margin-right: 3%;*/
	/*padding-right: 3%; */
}

.form-contact-button:hover {
	opacity: 1;
}

.mostrar-valor {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	color: #292929;
	font-size: 18px;
	/*background-color: #E9E9E9;*/
	background: #fff;
	border: 1px solid #E9E9E9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 20px;
	border-bottom: 3px solid #A3CB38;
	border-left: 1px solid #ccc;
	text-indent: 20px;
	padding-top: 15px;
	/*padding-bottom: auto;*/
	text-align: center;
}
.botao{
				display: flex;
				justify-content: center;
				align-items: center;
				position: fixed;
				border-radius: 100%;
				bottom: 10px;
				right: 10px;
				width: 40px;
				height: 40px;
				background: red;
				text-decoration: none;
				color: #fff;
				background: linear-gradient(to right, #A3CB38, #009432);
				font-family: 'Poppins', sans-serif;
				font-weight: bolder;
			}